/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
@charset "UTF-8";
/*********************
色のインポート
*********************/
/*********************
フォントのインポート
*********************/
@font-face {
  font-family: logotype;
  src: url("07LogoTypeGothic-Condense.woff");
}
@font-face {
  font-family: print;
  src: url("PrintBold.woff");
}
/*********************
デバイスサイズが768px 
以下のときのスタイルシート
（スマホ用）
*********************/
@media only screen and (max-width: 768px) {
  /* line 1, ../scss/breakpoint/_768down.scss */
  body {
    background-color: #fbf7f1;
    margin: 0;
    padding: 0;
  }

  /* header */
  /* line 8, ../scss/breakpoint/_768down.scss */
  .header_wrapper {
    height: 60px;
    width: 100%;
    z-index: 15;
    background-color: #3a204c;
  }

  /* line 14, ../scss/breakpoint/_768down.scss */
  .header {
    margin: 0 auto;
    overflow: hidden;
  }
  /* line 17, ../scss/breakpoint/_768down.scss */
  .header .logo {
    float: left;
    margin: 10px 0 0 30px;
  }
  /* line 20, ../scss/breakpoint/_768down.scss */
  .header .logo img {
    width: 40px;
    height: 40px;
  }
  /* line 25, ../scss/breakpoint/_768down.scss */
  .header ul {
    margin-top: 0;
    float: right;
    position: absolute;
    right: 0;
  }
  /* line 30, ../scss/breakpoint/_768down.scss */
  .header ul li {
    float: left;
    display: inline-block;
    margin: 0;
  }
  /* line 34, ../scss/breakpoint/_768down.scss */
  .header ul li .link {
    margin: 0;
    color: #fcfbef;
    font-size: 1.1em;
    font-family: 'print';
    display: block;
    padding: 20px 25px 18px 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  /* line 44, ../scss/breakpoint/_768down.scss */
  .header ul li .link:hover {
    background-color: #f3c363;
  }
  /* line 47, ../scss/breakpoint/_768down.scss */
  .header ul li .button_login {
    display: inline-block;
    padding: 20px 25px 18px 25px;
    margin: 0 60px 4px 0;
    color: #fcfbef;
    font-family: 'print';
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  /* line 58, ../scss/breakpoint/_768down.scss */
  .header ul li .button_login:hover {
    color: #3a204c;
    background-color: #fcfbef;
  }
  /* line 62, ../scss/breakpoint/_768down.scss */
  .header ul li .hidden_list {
    position: absolute;
    margin: 0 60px 0 0;
    top: 60px;
    width: 174px;
    z-index: 100;
    border-radius: 2px;
    border-color: #fcfbef;
  }
  /* line 70, ../scss/breakpoint/_768down.scss */
  .header ul li .hidden_list li {
    visibility: hidden;
    overflow: hidden;
    width: 174px;
    height: 0;
    background: #3a204c;
    transition: background 0.3s ease;
  }
  /* line 77, ../scss/breakpoint/_768down.scss */
  .header ul li .hidden_list li a {
    display: block;
    text-decoration: none;
    color: #fcfbef;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
  }
  /* line 84, ../scss/breakpoint/_768down.scss */
  .header ul li .hidden_list li a:hover {
    text-decoration: none;
    background: none;
  }
  /* line 89, ../scss/breakpoint/_768down.scss */
  .header ul li .hidden_list li:hover {
    background: #f3c363;
    color: cream;
  }
  /* line 96, ../scss/breakpoint/_768down.scss */
  .header ul li:hover ul {
    text-align: center;
  }
  /* line 98, ../scss/breakpoint/_768down.scss */
  .header ul li:hover ul li {
    visibility: visible;
    overflow: visible;
    height: 40px;
    z-index: 40;
  }
  /* line 103, ../scss/breakpoint/_768down.scss */
  .header ul li:hover ul li .hidden_link {
    margin: 0;
  }

  /* header ends */
  /* home style */
  /* top style */
  /* line 117, ../scss/breakpoint/_768down.scss */
  .top {
    width: 100%;
    background-color: rgba(58, 32, 76, 0.5);
    background: url(IMG_0280.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 123, ../scss/breakpoint/_768down.scss */
  .top .top_image {
    background-color: rgba(58, 32, 76, 0.5);
    width: 100%;
  }
  /* line 127, ../scss/breakpoint/_768down.scss */
  .top .logo {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 60px 0 30px -50px;
    left: 50%;
  }
  /* line 134, ../scss/breakpoint/_768down.scss */
  .top .text1, .top .text2 {
    color: #fcfbef;
    font-family: 'logotype';
    font-size: 1em;
    text-align: center;
  }
  /* line 141, ../scss/breakpoint/_768down.scss */
  .top .start_wrap {
    padding: 105px 0 105px 0;
  }
  /* line 143, ../scss/breakpoint/_768down.scss */
  .top .start_wrap .button_start {
    text-align: center;
    margin: 0;
  }
  /* line 147, ../scss/breakpoint/_768down.scss */
  .top .start_wrap .start {
    text-align: center;
  }
  /* line 150, ../scss/breakpoint/_768down.scss */
  .top .start_wrap a {
    font-size: 2em;
    padding: 10px 25px;
    color: #fcfbef;
    font-family: flop;
    text-decoration: none;
    font-size: 14px;
    border: solid 2px #fcfbef;
  }
  /* line 159, ../scss/breakpoint/_768down.scss */
  .top .start_wrap a:hover {
    background: none;
  }

  /* sec1 style */
  /* line 166, ../scss/breakpoint/_768down.scss */
  .sec1 {
    margin: 0;
    background-color: #fbf7f1;
  }
  /* line 169, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 172, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #474747;
    font-family: 'print';
  }
  /* line 181, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 2px;
    width: 50px;
    background: #f3c363;
    content: '';
  }
  /* line 191, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper p {
    text-align: center;
    color: #bcbcb8;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    margin: 0;
    padding-top: 30px;
  }
  /* line 199, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posted_at {
    font-family: 'print';
    font-size: 1em;
    margin-top: 15px;
    padding: 0;
  }
  /* line 205, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper h1 {
    text-align: center;
    color: #474747;
    font-family: 'logotype';
    font-size: 2em;
    margin: 0;
    margin-top: 60px;
  }
  /* line 213, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .field {
    text-align: center;
    margin: 10px 0;
  }
  /* line 217, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper textarea {
    width: 90%;
    height: 30px;
    padding: 10px;
    resize: none;
    background-color: #fbf7f1;
    border-radius: 2px;
    color: #bcbcb8;
    transition: height 1s ease;
    font-size: 1em;
  }
  /* line 229, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper textarea:focus {
    height: 200px;
    outline: 0;
    color: #474747;
    font-size: 16px;
  }
  /* line 235, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .button_post {
    margin-top: 15px;
    text-align: center;
  }
  /* line 239, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .post {
    padding: 15px 40px;
    margin: 0;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'print';
    color: #3a204c;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  /* line 252, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .post:hover {
    background-color: #d9af59;
  }
  /* line 255, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort {
    margin: 45px 0 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 261, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort li {
    display: inline-block;
    margin: 30px 0 15px 0;
  }
  /* line 264, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort li a {
    color: #474747;
    font-family: flop;
    text-decoration: none;
    font-size: 1em;
  }
  /* line 270, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort li a:hover {
    background: none;
  }
  /* line 275, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts {
    border-bottom: 1px solid #c9c9c4;
    margin: 20px 0 10px 10px;
    padding: 0;
  }
  /* line 279, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li {
    display: inline;
  }
  /* line 281, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li a {
    color: #474747;
    font-size: 16px;
    font-family: 'print';
    margin-right: 15px;
    text-decoration: none;
  }
  /* line 288, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li a:hover {
    background: none;
  }
  /* line 291, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .img_fav {
    margin: 0 0 0 0;
    width: 15px;
    height: 15px;
    outline: none;
  }
  /* line 297, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 303, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .like li {
    display: inline-block;
  }
  /* line 307, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .content {
    color: #474747;
    font-family: 'Yu Gothic';
    font-size: 1em;
    text-align: left;
    margin: 20px 10px;
    padding: 0;
    letter-spacing: 2px;
    line-height: 170%;
  }

  /* sec2 style */
  /* line 323, ../scss/breakpoint/_768down.scss */
  .sec2 {
    background-color: #fbf7f1;
    margin: 0;
  }
  /* line 326, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 329, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #474747;
    font-family: print;
  }
  /* line 338, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 2px;
    width: 50px;
    background: #cd5b51;
    content: '';
  }
  /* line 348, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 352, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li {
    display: inline;
    color: #474747;
  }
  /* line 355, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .date {
    display: inline-block;
    margin: 0;
    font-family: 'print';
    padding: 45px 0 0 0;
    font-size: 1em;
  }
  /* line 362, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .theme {
    display: inline-block;
    font-size: 1.5em;
    color: #474747;
    font-family: logotype;
    text-decoration: none;
  }
  /* line 368, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .theme a {
    padding: 0;
    margin-top: 15px;
  }
  /* line 372, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .theme .theme:hover {
    background: none;
  }
  /* line 376, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .post_number {
    text-align: center;
    color: #bcbcb8;
    font-family: print;
    font-size: 1em;
    margin: 15px 0 30px 0;
  }

  /* sec3 style */
  /* line 391, ../scss/breakpoint/_768down.scss */
  .sec3 {
    background-color: #fbf7f1;
    margin: 0;
    position: relative;
  }
  /* line 395, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper:after {
    content: "";
    display: block;
    clear: both;
  }
  /* line 400, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 403, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #474747;
    font-family: 'print';
  }
  /* line 412, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #198047;
    content: '';
  }
  /* line 422, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  /* line 425, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 100%;
  }
  /* line 430, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper ul li span {
    display: block;
    float: left;
    font-size: 2em;
    font-family: 'print';
    width: 250px;
    margin: 15px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
  }
  /* line 442, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .form {
    width: 90%;
    height: 25px;
    background-color: #fbf7f1;
    border-radius: 2px;
    border: 1px solid #474747;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 1.3em;
  }
  /* line 453, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 1.3em;
  }
  /* line 459, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .auto_login {
    margin: 15px 5% 10px 0;
    text-align: right;
    color: #474747;
    font-family: flop;
  }
  /* line 467, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .forget {
    margin: 0 5% 0 0;
    text-align: right;
    font-size: 12px;
    color: #bcbcb8;
  }
  /* line 472, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .forget .forget_link {
    text-decoration: none;
    letter-spacing: 3px;
    color: #bcbcb8;
    font-family: flop;
  }
  /* line 479, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .button {
    text-align: center;
  }
  /* line 482, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .button_login {
    padding: 10px 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 1.3em;
    color: #3a204c;
    font-family: 'print';
    border-radius: 2px;
    border: 0;
  }

  /* sec4 style */
  /* line 498, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 501, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .for_mobile {
    width: 90%;
    text-align: center;
  }
  /* line 505, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .manage {
    position: absolute;
    padding: 10px 20px;
    margin: 20px 0 90px -50px;
    left: 20%;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 12px;
    color: #3a204c;
    font-family: flop;
    border-radius: 2px;
  }
  /* line 517, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .username {
    text-align: center;
    margin: 70px 0 -90px 0;
    font-size: 1.5em;
    color: #474747;
    font-family: 'print';
    padding-top: 80px;
  }
  /* line 525, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .navi {
    text-align: center;
    margin: 110px 0 90px 0;
    font-size: 12px;
    color: #474747;
    font-family: flop;
  }
  /* line 532, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper table {
    position: absolute;
    width: 100px;
    left: 60%;
    margin: 10px;
  }
  /* line 537, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper table td {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 1.5em;
    color: #474747;
    font-family: 'print';
  }
  /* line 546, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper table tr {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 555, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts {
    padding: 0;
  }
  /* line 557, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #bcbcb8;
    border-top: 1px solid #bcbcb8;
    width: 100%;
  }
  /* line 563, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .date_like {
    text-align: center;
    margin-bottom: 15px;
  }
  /* line 567, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .date {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 18px;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 574, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title {
    text-align: center;
    font-size: 2em;
    color: #474747;
    font-family: logotype;
  }
  /* line 579, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title a {
    text-decoration: none;
  }
  /* line 582, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title a:hover {
    background: none;
  }
  /* line 585, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title a:visited {
    color: #474747;
  }
  /* line 589, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 595, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .like li {
    display: inline-block;
  }
  /* line 599, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .content {
    color: #474747;
    font-family: ipaex;
    font-size: 16px;
    text-align: left;
    margin: 20px 10px;
    letter-spacing: 2px;
    line-height: 150%;
  }
  /* line 608, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .img_fav {
    margin: 0;
    width: 15px;
    height: 15px;
    padding: 3px 0 0 0;
    outline: none;
  }
  /* line 615, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .edit {
    font-size: 12px;
    text-align: right;
  }
  /* line 618, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .edit a {
    text-decoration: none;
    color: #bcbcb8;
    font-family: flop;
    letter-spacing: 3px;
  }
  /* line 624, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .edit a:hover {
    color: #cd5b51;
  }

  /* sec5 */
  /* line 634, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 637, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi {
    text-align: center;
    margin: 0 0 15px 0;
  }
  /* line 640, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi li {
    letter-spacing: 3px;
    margin: 0 3px;
    cursor: pointer;
    width: 100%;
  }
  /* line 645, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi li .logout {
    color: #474747;
    text-decoration: none;
  }
  /* line 649, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi li .logout:hover {
    background: none;
  }
  /* line 653, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi .selected {
    color: #cd5b51;
    cursor: default;
  }
  /* line 658, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper h1 {
    margin: 40px 0 40px 0;
    text-align: center;
    color: #474747;
    font-family: ipaex;
  }
  /* line 664, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul {
    padding: 0;
    margin: 60px 0 0 0;
  }
  /* line 667, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 100%;
  }
  /* line 672, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul li .edit_pass {
    display: block;
    float: left;
    font-size: 16px;
    width: 250px;
    margin: 18px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 682, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul li span {
    display: block;
    float: left;
    font-size: 1.2em;
    margin: 18px 0 10px 0;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 693, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .form {
    width: 90%;
    height: 25px;
    border: 1px solid #474747;
    padding: 10px;
    background-color: #fbf7f1;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 1.3em;
  }
  /* line 704, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 1.3em;
  }
  /* line 710, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .button {
    text-align: center;
    padding-top: 30px;
  }
  /* line 714, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .button_comp {
    padding: 15px 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1.3em;
    color: #3a204c;
    font-family: ipaex;
    border-radius: 2px;
    border: 0;
    transition: background-color 1s ease;
  }
  /* line 727, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .button_comp:hover {
    background-color: #d9af59;
  }
  /* line 730, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .quit_magazine {
    margin: 15px 5% 30px 0;
    text-align: right;
    color: #474747;
    font-family: ipaex;
  }
  /* line 738, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .content_wrap {
    border-top: 1px solid #474747;
  }
  /* line 741, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .delete_wrap {
    text-align: right;
    margin: 30px 5% 0 0;
    letter-spacing: 3px;
  }
  /* line 745, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .delete_wrap .delete {
    text-decoration: none;
    color: #bcbcb8;
    font-family: ipaex;
    font-size: 1em;
    margin-top: 5px;
  }
  /* line 752, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .delete_wrap .delete:hover {
    background: none;
  }

  /* sec6 style */
  /* line 761, ../scss/breakpoint/_768down.scss */
  .sec6 {
    margin: 0;
    background: url(../images/IMG_9268.JPG) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 900px;
  }
  /* line 767, ../scss/breakpoint/_768down.scss */
  .sec6 .register_bg {
    background-color: rgba(58, 32, 76, 0.5);
    height: 900px;
  }
  /* line 771, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 774, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #fcfbef;
    font-family: print;
  }
  /* line 783, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #fcfbef;
    content: '';
  }
  /* line 793, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .register_navi {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: ipaex;
    font-size: 1em;
    color: #fcfbef;
  }
  /* line 800, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  /* line 803, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 100%;
  }
  /* line 808, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper ul li span {
    display: block;
    float: left;
    font-size: 2em;
    font-family: print;
    margin: 15px 0 10px 0;
    letter-spacing: 2px;
    color: #fcfbef;
  }
  /* line 819, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .form {
    width: 90%;
    height: 25px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #bcbcb8;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 1.2em;
    font-family: flop;
  }
  /* line 831, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #fcfbef;
    font-size: 1.2em;
  }
  /* line 837, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .agreement {
    padding: 10px 0 10px 0;
    text-align: right;
    color: #fcfbef;
    letter-spacing: 3px;
    font-family: ipaex;
  }
  /* line 843, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .agreement .agreement_link {
    color: #f3c363;
  }
  /* line 847, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .button {
    text-align: center;
  }
  /* line 850, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .button_register {
    padding: 10px 30px;
    margin-top: 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 1.3em;
    color: #3a204c;
    font-family: print;
    border-radius: 2px;
    border: 0;
    transition: background-color 0.5s ease;
  }
}
/*********************
デバイスサイズが768px 
以上のときのスタイルシート
（タブレット、PC用）
*********************/
@media only screen and (min-width: 768px) {
  /* line 1, ../scss/breakpoint/_base.scss */
  body {
    background-color: #fbf7f1;
    margin: 0;
    padding: 0;
  }

  /* header */
  /* line 8, ../scss/breakpoint/_base.scss */
  .header_wrapper {
    height: 60px;
    width: 100%;
    z-index: 15;
    background-color: #3a204c;
  }

  /* line 14, ../scss/breakpoint/_base.scss */
  .header {
    margin: 0 auto;
    overflow: hidden;
  }
  /* line 17, ../scss/breakpoint/_base.scss */
  .header .logo {
    float: left;
    margin: 10px 0 0 30px;
  }
  /* line 20, ../scss/breakpoint/_base.scss */
  .header .logo img {
    width: 40px;
    height: 40px;
  }
  /* line 25, ../scss/breakpoint/_base.scss */
  .header ul {
    margin-top: 0;
    float: right;
    position: absolute;
    right: 0;
  }
  /* line 30, ../scss/breakpoint/_base.scss */
  .header ul li {
    float: left;
    display: inline-block;
    margin: 0;
  }
  /* line 34, ../scss/breakpoint/_base.scss */
  .header ul li .link {
    margin: 0;
    color: #fcfbef;
    font-size: 20px;
    font-family: 'print';
    display: block;
    padding: 20px 25px 18px 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  /* line 44, ../scss/breakpoint/_base.scss */
  .header ul li .link:hover {
    background-color: #f3c363;
  }
  /* line 47, ../scss/breakpoint/_base.scss */
  .header ul li .button_login {
    display: inline-block;
    padding: 20px 25px 18px 25px;
    margin: 0 60px 4px 0;
    color: #fcfbef;
    font-family: 'print';
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  /* line 58, ../scss/breakpoint/_base.scss */
  .header ul li .button_login:hover {
    color: #3a204c;
    background-color: #fcfbef;
  }
  /* line 62, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list {
    position: absolute;
    margin: 0 60px 0 0;
    top: 60px;
    width: 174px;
    z-index: 100;
    border-radius: 2px;
    border-color: #fcfbef;
  }
  /* line 70, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li {
    visibility: hidden;
    overflow: hidden;
    width: 174px;
    height: 0;
    background: #3a204c;
    transition: background 0.3s ease;
  }
  /* line 77, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li a {
    display: block;
    text-decoration: none;
    color: #fcfbef;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
  }
  /* line 84, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li a:hover {
    text-decoration: none;
    background: none;
  }
  /* line 89, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li:hover {
    background: #f3c363;
    color: cream;
  }
  /* line 96, ../scss/breakpoint/_base.scss */
  .header ul li:hover ul {
    text-align: center;
  }
  /* line 98, ../scss/breakpoint/_base.scss */
  .header ul li:hover ul li {
    visibility: visible;
    overflow: visible;
    height: 40px;
    z-index: 40;
  }
  /* line 103, ../scss/breakpoint/_base.scss */
  .header ul li:hover ul li .hidden_link {
    margin: 0;
  }

  /* header ends */
  /* home style */
  /* top style */
  /* line 117, ../scss/breakpoint/_base.scss */
  .top {
    width: 100%;
    background-color: rgba(58, 32, 76, 0.5);
    background: url(IMG_0280.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 123, ../scss/breakpoint/_base.scss */
  .top .top_image {
    background-color: rgba(58, 32, 76, 0.5);
    width: 100%;
  }
  /* line 127, ../scss/breakpoint/_base.scss */
  .top .logo {
    width: 240px;
    height: 240px;
    position: relative;
    margin: 60px 0 30px -120px;
    left: 50%;
  }
  /* line 134, ../scss/breakpoint/_base.scss */
  .top .text1, .top .text2 {
    color: #fcfbef;
    font-family: 'logotype';
    font-size: 16px;
    text-align: center;
  }
  /* line 141, ../scss/breakpoint/_base.scss */
  .top .start_wrap {
    padding: 105px 0 105px 0;
  }
  /* line 143, ../scss/breakpoint/_base.scss */
  .top .start_wrap .button_start {
    text-align: center;
    margin: 0;
  }
  /* line 147, ../scss/breakpoint/_base.scss */
  .top .start_wrap .start {
    text-align: center;
  }
  /* line 150, ../scss/breakpoint/_base.scss */
  .top .start_wrap a {
    padding: 20px 50px;
    color: #fcfbef;
    font-family: flop;
    text-decoration: none;
    font-size: 14px;
    border: solid 2px #fcfbef;
    transition: background-color 1s ease;
  }
  /* line 159, ../scss/breakpoint/_base.scss */
  .top .start_wrap a:hover {
    color: #3a204c;
    background-color: #fcfbef;
  }
  /* line 163, ../scss/breakpoint/_base.scss */
  .top .start_wrap a:visited {
    text-decoration: none;
  }

  /* sec1 style */
  /* line 170, ../scss/breakpoint/_base.scss */
  .sec1 {
    margin: 0;
    background-color: #fbf7f1;
  }
  /* line 173, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper {
    width: 60%;
    margin: 0 auto 0 auto;
  }
  /* line 176, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #474747;
    font-family: 'print';
  }
  /* line 185, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #f3c363;
    content: '';
  }
  /* line 195, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper p {
    text-align: center;
    color: #bcbcb8;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin: 0;
    padding-top: 30px;
  }
  /* line 203, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posted_at {
    font-family: 'print';
    font-size: 24px;
    margin-top: 30px;
    padding: 0;
  }
  /* line 209, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper h1 {
    text-align: center;
    color: #3a204c;
    font-family: 'logotype';
    font-size: 47px;
    margin: 0;
    padding-top: 120px;
  }
  /* line 217, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper textarea {
    width: 600px;
    height: 20px;
    padding: 10px;
    resize: none;
    background-color: #fbf7f1;
    border-radius: 2px;
    position: relative;
    margin: 60px 0 0 -311px;
    left: 50%;
    color: #bcbcb8;
    transition: height 1s ease;
    font-size: 13px;
    border: 2px solid #c9c9c4;
  }
  /* line 233, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper textarea:focus {
    border-color: #474747;
    height: 200px;
    outline: 0;
    color: #474747;
    font-size: 13px;
  }
  /* line 240, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .button_post {
    margin-top: 15px;
    text-align: center;
  }
  /* line 244, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .post {
    padding: 15px 40px;
    margin: 0;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 18px;
    font-family: 'print';
    color: #3a204c;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  /* line 257, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .post:hover {
    background-color: #d9af59;
  }
  /* line 260, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort {
    margin: 45px 0 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 266, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort li {
    display: inline-block;
    margin: 30px 0 15px 0;
  }
  /* line 269, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort li a {
    color: #474747;
    font-family: flop;
    text-decoration: none;
  }
  /* line 274, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort li a:hover {
    background: none;
  }
  /* line 279, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts {
    border-bottom: 1px solid #c9c9c4;
    margin-top: 40px;
    padding-left: 20px;
  }
  /* line 283, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li {
    display: inline;
  }
  /* line 285, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li a {
    color: #474747;
    font-size: 20px;
    font-family: 'print';
    margin-right: 15px;
    text-decoration: none;
  }
  /* line 292, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li a:hover {
    background: none;
  }
  /* line 295, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .img_fav {
    margin: 0 0 0 0;
    width: 15px;
    height: 15px;
    outline: none;
  }
  /* line 301, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 307, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .like li {
    display: inline-block;
  }
  /* line 311, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .content {
    color: #474747;
    font-family: 'Yu Gothic';
    font-size: 15px;
    text-align: left;
    margin: 40px 40px 40px 0;
    padding: 0;
    letter-spacing: 2px;
    line-height: 180%;
  }

  /* sec2 style */
  /* line 327, ../scss/breakpoint/_base.scss */
  .sec2 {
    background-color: #fbf7f1;
    margin: 0;
  }
  /* line 330, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper {
    width: 60%;
    margin: 0 auto 0 auto;
  }
  /* line 333, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #474747;
    font-family: print;
  }
  /* line 342, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #cd5b51;
    content: '';
  }
  /* line 352, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 356, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li {
    display: inline;
    color: #474747;
  }
  /* line 359, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .date {
    display: inline-block;
    margin: 0;
    font-family: 'print';
    padding: 45px 0 0 0;
    font-size: 25px;
  }
  /* line 366, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .theme_box {
    margin: 30px 0 0 0;
  }
  /* line 369, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .theme {
    display: inline-block;
    padding: 0;
    font-size: 40px;
    color: #474747;
    font-family: logotype;
    text-decoration: none;
    transition: color 0.5s;
  }
  /* line 378, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .theme:hover {
    color: #f3c363;
    background: none;
  }
  /* line 382, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .post_number {
    text-align: center;
    padding: 15px 0 30px 0;
    color: #bcbcb8;
    font-family: print;
  }

  /* sec3 style */
  /* line 396, ../scss/breakpoint/_base.scss */
  .sec3 {
    background-color: #fbf7f1;
    margin: 0;
    position: relative;
  }
  /* line 400, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper:after {
    content: "";
    display: block;
    clear: both;
  }
  /* line 405, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper {
    width: 60%;
    margin: 0 auto 0 auto;
  }
  /* line 408, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #474747;
    font-family: 'print';
  }
  /* line 417, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #198047;
    content: '';
  }
  /* line 427, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper ul {
    padding: 0;
    margin: 60px 0 0 0;
  }
  /* line 430, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
  /* line 434, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper ul li span {
    display: block;
    float: left;
    font-size: 24px;
    font-family: 'print';
    width: 250px;
    margin: 15px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
  }
  /* line 446, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .form {
    width: 600px;
    height: 30px;
    background-color: #fbf7f1;
    border-radius: 2px;
    border: 1px solid #474747;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 30px;
  }
  /* line 457, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 25px;
  }
  /* line 463, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .auto_login {
    margin: 15px 5% 10px 0;
    text-align: right;
    color: #474747;
    font-family: flop;
  }
  /* line 471, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .forget {
    margin: 0 5% 0 0;
    text-align: right;
    font-size: 12px;
    color: #bcbcb8;
  }
  /* line 476, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .forget .forget_link {
    text-decoration: none;
    letter-spacing: 3px;
    color: #bcbcb8;
    font-family: flop;
  }
  /* line 483, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .button {
    text-align: center;
  }
  /* line 486, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .button_login {
    width: 200px;
    padding: 15px 40px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 18px;
    color: #3a204c;
    font-family: 'print';
    border-radius: 2px;
    border: 0;
    transition: background-color 0.5s ease;
  }
  /* line 499, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .button_login:hover {
    background-color: #d9af59;
  }

  /* sec4 style */
  /* line 507, ../scss/breakpoint/_base.scss */
  .sec4_wrapper {
    width: 60%;
    margin: 0 auto 0 auto;
  }
  /* line 510, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .manage {
    width: 100px;
    position: absolute;
    padding: 10px 30px;
    margin: 20px 0 90px -50px;
    left: 25%;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 12px;
    color: #3a204c;
    font-family: flop;
    border-radius: 2px;
    border: 0;
    transition: background-color 1s ease;
  }
  /* line 526, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .manage:hover {
    background-color: #d9af59;
  }
  /* line 529, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .username {
    text-align: center;
    margin: 90px 0 -90px 0;
    font-size: 24px;
    color: #474747;
    font-family: 'print';
  }
  /* line 536, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .navi {
    text-align: center;
    margin: 125px 0 90px 0;
    font-size: 12px;
    color: #474747;
    font-family: flop;
  }
  /* line 543, ../scss/breakpoint/_base.scss */
  .sec4_wrapper table {
    position: absolute;
    width: 150px;
    margin: 20px 0 0 0;
    left: 68%;
  }
  /* line 548, ../scss/breakpoint/_base.scss */
  .sec4_wrapper table td {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    color: #474747;
    font-family: 'print';
  }
  /* line 557, ../scss/breakpoint/_base.scss */
  .sec4_wrapper table tr {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 566, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts {
    padding: 0;
  }
  /* line 568, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #bcbcb8;
    border-top: 1px solid #bcbcb8;
    width: 100%;
  }
  /* line 574, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .date_like {
    text-align: center;
    margin-bottom: 30px;
  }
  /* line 578, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .date {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 18px;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 585, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title {
    text-align: center;
    font-size: 24px;
    color: #474747;
    font-family: logotype;
  }
  /* line 590, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title a {
    text-decoration: none;
  }
  /* line 593, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title a:hover {
    background: none;
    color: #474747;
  }
  /* line 597, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title a:visited {
    color: #474747;
  }
  /* line 601, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 607, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .like li {
    display: inline-block;
  }
  /* line 611, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .content_wrap {
    margin: 0 auto;
    width: 80%;
  }
  /* line 615, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .content {
    color: #474747;
    font-family: ipaex;
    font-size: 16px;
    margin: 20px 0 40px 0;
    letter-spacing: 2px;
    line-height: 150%;
  }
  /* line 623, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .img_fav {
    margin: 0;
    width: 15px;
    height: 15px;
    padding: 1px 0 0 0;
    outline: none;
  }
  /* line 630, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .edit {
    font-size: 12px;
    text-align: right;
  }
  /* line 633, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .edit a {
    text-decoration: none;
    color: #bcbcb8;
    font-family: flop;
    letter-spacing: 3px;
  }
  /* line 639, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .edit a:hover {
    color: #cd5b51;
  }

  /* sec5 */
  /* line 649, ../scss/breakpoint/_base.scss */
  .sec5_wrapper {
    width: 60%;
    margin: 0 auto 0 auto;
  }
  /* line 652, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi {
    text-align: center;
    margin: 0 0 15px 0;
  }
  /* line 655, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi li {
    letter-spacing: 3px;
    margin: 0 3px;
    cursor: pointer;
  }
  /* line 659, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi li .logout {
    color: #474747;
    text-decoration: none;
  }
  /* line 663, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi li .logout:hover {
    background: none;
  }
  /* line 667, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi .selected {
    color: #cd5b51;
    cursor: default;
  }
  /* line 672, ../scss/breakpoint/_base.scss */
  .sec5_wrapper h1 {
    margin: 30px 0 60px 0;
    text-align: center;
    color: #474747;
    font-family: ipaex;
  }
  /* line 678, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul {
    padding: 0;
    margin: 60px 0 0 0;
  }
  /* line 681, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
  /* line 685, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul li .edit_pass {
    display: block;
    float: left;
    font-size: 16px;
    width: 250px;
    margin: 18px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 695, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul li span {
    display: block;
    float: left;
    font-size: 16px;
    width: 250px;
    margin: 18px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 707, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .form {
    width: 600px;
    height: 30px;
    border: 1px solid #474747;
    padding: 10px;
    background-color: #fbf7f1;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 25px;
  }
  /* line 718, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 25px;
  }
  /* line 724, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .button {
    text-align: center;
    padding-top: 30px;
  }
  /* line 728, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .button_comp {
    width: 200px;
    padding: 15px 40px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 18px;
    color: #3a204c;
    font-family: ipaex;
    border-radius: 2px;
    border: 0;
    transition: background-color 1s ease;
  }
  /* line 742, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .button_comp:hover {
    background-color: #d9af59;
  }
  /* line 745, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .quit_magazine {
    margin: 15px 5% 30px 0;
    text-align: right;
    color: #474747;
    font-family: ipaex;
  }
  /* line 753, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .content_wrap {
    border-top: 1px solid #474747;
  }
  /* line 756, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .delete_wrap {
    text-align: right;
    margin: 0 5% 0 0;
    letter-spacing: 3px;
  }
  /* line 760, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .delete_wrap .delete {
    text-decoration: none;
    color: #bcbcb8;
    font-family: ipaex;
    font-size: 12px;
  }

  /* sec6 style */
  /* line 772, ../scss/breakpoint/_base.scss */
  .sec6 {
    margin: 0;
    background: url(../images/IMG_9268.JPG) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 900px;
  }
  /* line 778, ../scss/breakpoint/_base.scss */
  .sec6 .register_bg {
    background-color: rgba(58, 32, 76, 0.5);
    height: 900px;
  }
  /* line 782, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper {
    width: 60%;
    margin: 0 auto 0 auto;
  }
  /* line 785, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #fcfbef;
    font-family: print;
  }
  /* line 794, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #fcfbef;
    content: '';
  }
  /* line 804, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .register_navi {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: ipaex;
    font-size: 16px;
    color: #fcfbef;
  }
  /* line 811, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  /* line 814, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
  /* line 818, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper ul li span {
    display: block;
    float: left;
    font-size: 24px;
    font-family: print;
    width: 200px;
    margin: 15px 0 0 10px;
    letter-spacing: 2px;
    color: #fcfbef;
  }
  /* line 830, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .form {
    width: 600px;
    height: 30px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #bcbcb8;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 16px;
    font-family: flop;
  }
  /* line 842, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #fcfbef;
    font-size: 25px;
  }
  /* line 848, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .agreement {
    padding: 10px 0 10px 0;
    text-align: right;
    color: #fcfbef;
    letter-spacing: 3px;
    font-family: ipaex;
  }
  /* line 854, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .agreement .agreement_link {
    color: #f3c363;
  }
  /* line 858, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .button {
    text-align: center;
  }
  /* line 861, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .button_register {
    width: 200px;
    padding: 15px 40px;
    margin-top: 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 18px;
    color: #3a204c;
    font-family: print;
    border-radius: 2px;
    border: 0;
    transition: background-color 0.5s ease;
  }
  /* line 875, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .button_register:hover {
    background-color: #d9af59;
  }
}
