/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

/* header */
/* line 18, ../scss/style.scss */
.header_wrapper {
  height: 60px;
  width: 100%;
  z-index: 15;
  background-color: #3a204c;
}

/* line 24, ../scss/style.scss */
.header {
  margin: 0 auto;
  width: 1280px;
  overflow: hidden;
}
/* line 28, ../scss/style.scss */
.header .logo {
  float: left;
  margin: 10px 0 0 30px;
}
/* line 31, ../scss/style.scss */
.header .logo img {
  width: 40px;
  height: 40px;
}
/* line 36, ../scss/style.scss */
.header ul {
  margin-top: 0;
  float: right;
  position: absolute;
  right: 0;
}
/* line 41, ../scss/style.scss */
.header ul li {
  float: left;
  display: inline-block;
  font-size: 15px;
  margin: 0;
}
/* line 46, ../scss/style.scss */
.header ul li .link {
  margin: 0;
  color: #fcfbef;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  display: block;
  padding: 20px 25px 18px 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
/* line 56, ../scss/style.scss */
.header ul li .link:hover {
  background-color: #f3c363;
}
/* line 59, ../scss/style.scss */
.header ul li .button_login {
  display: inline-block;
  padding: 20px 25px 18px 25px;
  margin: 0 60px 4px 0;
  color: #fcfbef;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
/* line 70, ../scss/style.scss */
.header ul li .button_login:hover {
  color: #3a204c;
  background-color: #fcfbef;
}
/* line 74, ../scss/style.scss */
.header ul li .hidden_list {
  position: absolute;
  margin: 0 60px 0 0;
  top: 60px;
  width: 174px;
  z-index: 100;
  border-radius: 2px;
  border-color: #fcfbef;
}
/* line 82, ../scss/style.scss */
.header ul li .hidden_list li {
  visibility: hidden;
  overflow: hidden;
  width: 174px;
  height: 0;
  background: #3a204c;
  transition: background 0.3s ease;
}
/* line 89, ../scss/style.scss */
.header ul li .hidden_list li a {
  display: block;
  text-decoration: none;
  color: #fcfbef;
  font-size: 14px;
  padding: 10px 30px 10px 30px;
}
/* line 96, ../scss/style.scss */
.header ul li .hidden_list li a:hover {
  text-decoration: none;
  background: none;
}
/* line 101, ../scss/style.scss */
.header ul li .hidden_list li:hover {
  background: #f3c363;
  color: cream;
}
/* line 108, ../scss/style.scss */
.header ul li:hover ul {
  text-align: center;
}
/* line 110, ../scss/style.scss */
.header ul li:hover ul li {
  visibility: visible;
  overflow: visible;
  height: 40px;
  z-index: 40;
}
/* line 115, ../scss/style.scss */
.header ul li:hover ul li .hidden_link {
  margin: 0;
}

/* header ends */
/* home style */
/* top style */
/* line 129, ../scss/style.scss */
.top {
  width: 100%;
  background-color: rgba(58, 32, 76, 0.5);
  background: url(IMG_0280.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 135, ../scss/style.scss */
.top .top_image {
  background-color: rgba(58, 32, 76, 0.5);
  width: 100%;
}
/* line 139, ../scss/style.scss */
.top .logo {
  width: 240px;
  height: 240px;
  position: relative;
  margin: 60px 0 30px -120px;
  left: 50%;
}
/* line 146, ../scss/style.scss */
.top .text1, .top .text2 {
  color: #fcfbef;
  font-family: ipaexg;
  font-size: 16px;
  text-align: center;
}
/* line 153, ../scss/style.scss */
.top .start_wrap {
  padding: 105px 0 105px 0;
}
/* line 155, ../scss/style.scss */
.top .start_wrap .button_start {
  text-align: center;
  margin: 0;
}
/* line 159, ../scss/style.scss */
.top .start_wrap .start {
  text-align: center;
}
/* line 162, ../scss/style.scss */
.top .start_wrap a {
  padding: 20px 50px;
  color: #fcfbef;
  font-family: flop;
  text-decoration: none;
  font-size: 14px;
  border: solid 2px #fcfbef;
  transition: background-color 1s ease;
}
/* line 171, ../scss/style.scss */
.top .start_wrap a:hover {
  color: #3a204c;
  background-color: #fcfbef;
}
/* line 175, ../scss/style.scss */
.top .start_wrap a:visited {
  text-decoration: none;
}

/* sec1 style */
/* line 182, ../scss/style.scss */
.sec1 {
  margin: 0;
  background-color: #fdfdfd;
}
/* line 185, ../scss/style.scss */
.sec1 .sec1_wrapper {
  width: 70%;
  margin: 0 auto 0 auto;
}
/* line 188, ../scss/style.scss */
.sec1 .sec1_wrapper .page_title {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 60px 0 40px 0;
  font-size: 32px;
  color: #474747;
  font-family: 'Nunito', sans-serif;
}
/* line 197, ../scss/style.scss */
.sec1 .sec1_wrapper .page_title:after {
  position: absolute;
  bottom: 0;
  margin: 0 0 0 -25px;
  left: 50%;
  height: 3px;
  width: 50px;
  background: #f3c363;
  content: '';
}
/* line 207, ../scss/style.scss */
.sec1 .sec1_wrapper p {
  text-align: center;
  color: #bcbcb8;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
}
/* line 215, ../scss/style.scss */
.sec1 .sec1_wrapper .posted_at {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  margin-top: 15px;
}
/* line 220, ../scss/style.scss */
.sec1 .sec1_wrapper h1 {
  text-align: center;
  color: #474747;
  font-family: logotype;
  font-size: 40px;
  margin: 0;
  padding-top: 120px;
}
/* line 228, ../scss/style.scss */
.sec1 .sec1_wrapper textarea {
  width: 600px;
  height: 50px;
  padding: 10px;
  resize: none;
  background-color: #fdfdfd;
  border-radius: 2px;
  position: relative;
  margin: 60px 0 0 -300px;
  left: 50%;
  color: #bcbcb8;
  transition: height 1s ease;
}
/* line 242, ../scss/style.scss */
.sec1 .sec1_wrapper textarea:focus {
  height: 200px;
  outline: 0;
  color: #474747;
  font-size: 16px;
}
/* line 248, ../scss/style.scss */
.sec1 .sec1_wrapper .button_post {
  margin-top: 15px;
  text-align: center;
}
/* line 252, ../scss/style.scss */
.sec1 .sec1_wrapper .post {
  padding: 15px 40px;
  margin: 0;
  background-color: #f3c363;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: #3a204c;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.8s ease;
}
/* line 265, ../scss/style.scss */
.sec1 .sec1_wrapper .post:hover {
  background-color: #d9af59;
}
/* line 268, ../scss/style.scss */
.sec1 .sec1_wrapper .sort {
  margin: 45px 0 0 0;
  padding: 0;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #474747;
}
/* line 274, ../scss/style.scss */
.sec1 .sec1_wrapper .sort li {
  display: inline-block;
  margin: 30px 0 15px 0;
}
/* line 277, ../scss/style.scss */
.sec1 .sec1_wrapper .sort li a {
  color: #474747;
  font-family: flop;
  text-decoration: none;
}
/* line 282, ../scss/style.scss */
.sec1 .sec1_wrapper .sort li a:hover {
  background: none;
}
/* line 287, ../scss/style.scss */
.sec1 .sec1_wrapper .posts {
  border-bottom: 1px solid #bcbcb8;
}
/* line 289, ../scss/style.scss */
.sec1 .sec1_wrapper .posts li {
  display: inline;
}
/* line 291, ../scss/style.scss */
.sec1 .sec1_wrapper .posts li a {
  color: #474747;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  margin-right: 15px;
  text-decoration: none;
}
/* line 298, ../scss/style.scss */
.sec1 .sec1_wrapper .posts li a:hover {
  background: none;
}
/* line 301, ../scss/style.scss */
.sec1 .sec1_wrapper .posts li .img_fav {
  margin: 0 3px 0 0;
  width: 20px;
  height: 20px;
  outline: none;
}
/* line 307, ../scss/style.scss */
.sec1 .sec1_wrapper .posts li .like {
  color: #474747;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align: left;
  display: inline;
}
/* line 314, ../scss/style.scss */
.sec1 .sec1_wrapper .posts li .content {
  color: #474747;
  font-family: ipaex;
  font-size: 16px;
  text-align: left;
  margin: 0 40px 40px 0;
  letter-spacing: 2px;
  line-height: 160%;
}

/* sec2 style */
/* line 329, ../scss/style.scss */
.sec2 {
  background-color: #fdfdfd;
  margin: 0;
}
/* line 332, ../scss/style.scss */
.sec2 .sec2_wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
}
/* line 335, ../scss/style.scss */
.sec2 .sec2_wrapper .page_title {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 60px 0 40px 0;
  font-size: 32px;
  color: #474747;
  font-family: print;
}
/* line 344, ../scss/style.scss */
.sec2 .sec2_wrapper .page_title:after {
  position: absolute;
  bottom: 0;
  margin: 0 0 0 -25px;
  left: 50%;
  height: 3px;
  width: 50px;
  background: #cd5b51;
  content: '';
}
/* line 354, ../scss/style.scss */
.sec2 .sec2_wrapper ul {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #bcbcb8;
}
/* line 358, ../scss/style.scss */
.sec2 .sec2_wrapper ul li {
  display: inline;
  color: #474747;
}
/* line 361, ../scss/style.scss */
.sec2 .sec2_wrapper ul li .date {
  display: inline-block;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  padding: 45px 0 0 0;
  font-size: 30px;
}
/* line 368, ../scss/style.scss */
.sec2 .sec2_wrapper ul li .date:hover {
  color: #cd5b51;
}
/* line 371, ../scss/style.scss */
.sec2 .sec2_wrapper ul li .theme {
  display: inline-block;
  padding: 30px 0 0 0;
  font-size: 40px;
  color: #474747;
  font-family: logotype;
  text-decoration: none;
}
/* line 379, ../scss/style.scss */
.sec2 .sec2_wrapper ul li .theme:hover {
  color: #f3c363;
  background: none;
}
/* line 383, ../scss/style.scss */
.sec2 .sec2_wrapper ul li .post_number {
  text-align: center;
  padding: 15px 0 30px 0;
  color: #bcbcb8;
  font-family: print;
}

/* sec3 style */
/* line 397, ../scss/style.scss */
.sec3 {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
/* line 401, ../scss/style.scss */
.sec3 .login_wrapper:after {
  content: "";
  display: block;
  clear: both;
}
/* line 406, ../scss/style.scss */
.sec3 .login_wrapper {
  width: 70%;
  margin: 0 auto 0 auto;
}
/* line 409, ../scss/style.scss */
.sec3 .login_wrapper .page_title {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 60px 0 40px 0;
  font-size: 32px;
  color: #474747;
  font-family: 'Nunito', sans-serif;
}
/* line 418, ../scss/style.scss */
.sec3 .login_wrapper .page_title:after {
  position: absolute;
  bottom: 0;
  margin: 0 0 0 -25px;
  left: 50%;
  height: 3px;
  width: 50px;
  background: #198047;
  content: '';
}
/* line 428, ../scss/style.scss */
.sec3 .login_wrapper ul {
  padding: 0;
  margin: 60px 0 0 0;
}
/* line 431, ../scss/style.scss */
.sec3 .login_wrapper ul li {
  padding: 0;
  margin: 15px 0 0 0;
  display: inline-block;
}
/* line 435, ../scss/style.scss */
.sec3 .login_wrapper ul li span {
  display: block;
  float: left;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  width: 250px;
  margin: 15px 0 0 10px;
  letter-spacing: 2px;
  color: #474747;
}
/* line 447, ../scss/style.scss */
.sec3 .login_wrapper .form {
  width: 600px;
  height: 30px;
  background-color: #fdfdfd;
  border-radius: 2px;
  border: 1px solid #474747;
  padding: 10px;
  margin: 0 auto 0 auto;
  color: #bcbcb8;
  font-size: 30px;
}
/* line 458, ../scss/style.scss */
.sec3 .login_wrapper .form:focus {
  border-color: #f3c363;
  outline: 0;
  color: #474747;
  font-size: 25px;
}
/* line 464, ../scss/style.scss */
.sec3 .login_wrapper .auto_login {
  margin: 15px 5% 10px 0;
  text-align: right;
  color: #474747;
  font-family: flop;
}
/* line 472, ../scss/style.scss */
.sec3 .login_wrapper .forget {
  margin: 0 5% 0 0;
  text-align: right;
  font-size: 12px;
  color: #bcbcb8;
}
/* line 477, ../scss/style.scss */
.sec3 .login_wrapper .forget .forget_link {
  text-decoration: none;
  letter-spacing: 3px;
  color: #bcbcb8;
  font-family: flop;
}
/* line 484, ../scss/style.scss */
.sec3 .login_wrapper .button {
  text-align: center;
}
/* line 487, ../scss/style.scss */
.sec3 .login_wrapper .button_login {
  width: 200px;
  padding: 15px 40px;
  text-align: center;
  background-color: #f3c363;
  text-decoration: none;
  font-size: 18px;
  color: #3a204c;
  font-family: 'Nunito', sans-serif;
  border-radius: 2px;
  border: 0;
  transition: background-color 0.5s ease;
}
/* line 500, ../scss/style.scss */
.sec3 .login_wrapper .button_login:hover {
  background-color: #d9af59;
}

/* sec4 style */
/* line 508, ../scss/style.scss */
.sec4_wrapper {
  width: 70%;
  margin: 0 auto 0 auto;
}
/* line 511, ../scss/style.scss */
.sec4_wrapper .manage {
  width: 100px;
  position: absolute;
  padding: 15px 40px;
  margin: 20px 0 90px -50px;
  left: 20%;
  text-align: center;
  background-color: #f3c363;
  text-decoration: none;
  font-size: 12px;
  color: #3a204c;
  font-family: flop;
  border-radius: 2px;
  border: 0;
  transition: background-color 1s ease;
}
/* line 527, ../scss/style.scss */
.sec4_wrapper .manage:hover {
  background-color: #d9af59;
}
/* line 530, ../scss/style.scss */
.sec4_wrapper .username {
  text-align: center;
  margin: 90px 0 -90px 0;
  font-size: 24px;
  color: #474747;
  font-family: 'Nunito', sans-serif;
}
/* line 537, ../scss/style.scss */
.sec4_wrapper .navi {
  text-align: center;
  margin: 135px 0 90px 0;
  font-size: 12px;
  color: #474747;
  font-family: flop;
}
/* line 544, ../scss/style.scss */
.sec4_wrapper table {
  position: absolute;
  width: 150px;
  margin: 20px 0 0 0;
  left: 70%;
}
/* line 549, ../scss/style.scss */
.sec4_wrapper table td {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  font-size: 20px;
  color: #474747;
  font-family: 'Nunito', sans-serif;
}
/* line 558, ../scss/style.scss */
.sec4_wrapper table tr {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #bcbcb8;
  font-family: 'Nunito', sans-serif;
}
/* line 567, ../scss/style.scss */
.sec4_wrapper .posts {
  padding: 0;
}
/* line 569, ../scss/style.scss */
.sec4_wrapper .posts li {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid #bcbcb8;
  border-top: 1px solid #bcbcb8;
}
/* line 574, ../scss/style.scss */
.sec4_wrapper .posts li .date {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  color: #474747;
  font-family: 'Nunito', sans-serif;
}
/* line 581, ../scss/style.scss */
.sec4_wrapper .posts li .title {
  text-align: center;
  font-size: 24px;
  color: #474747;
  font-family: logotype;
}
/* line 587, ../scss/style.scss */
.sec4_wrapper .posts li .content {
  color: #474747;
  font-family: ipaex;
  font-size: 16px;
  text-align: left;
  margin: 0 40px 40px 0;
  letter-spacing: 2px;
  line-height: 150%;
}
/* line 596, ../scss/style.scss */
.sec4_wrapper .posts li .img_fav {
  margin: 0 3px 0 0;
  width: 20px;
  height: 20px;
  padding: 3px 0 0 0;
  outline: none;
}
/* line 603, ../scss/style.scss */
.sec4_wrapper .posts li .edit {
  font-size: 12px;
  text-align: right;
}
/* line 606, ../scss/style.scss */
.sec4_wrapper .posts li .edit a {
  text-decoration: none;
  color: #bcbcb8;
  font-family: flop;
  letter-spacing: 3px;
}
/* line 612, ../scss/style.scss */
.sec4_wrapper .posts li .edit a:hover {
  color: #cd5b51;
}

/* sec5 */
/* line 622, ../scss/style.scss */
.sec5_wrapper {
  width: 70%;
  margin: 0 auto 0 auto;
}
/* line 625, ../scss/style.scss */
.sec5_wrapper .head_navi {
  text-align: center;
  margin: 0 0 15px 0;
}
/* line 628, ../scss/style.scss */
.sec5_wrapper .head_navi li {
  letter-spacing: 3px;
  margin: 0 3px;
  cursor: pointer;
}
/* line 632, ../scss/style.scss */
.sec5_wrapper .head_navi li .logout {
  color: #474747;
  text-decoration: none;
}
/* line 636, ../scss/style.scss */
.sec5_wrapper .head_navi li .logout:hover {
  background: none;
}
/* line 640, ../scss/style.scss */
.sec5_wrapper .head_navi .selected {
  color: #cd5b51;
  cursor: default;
}
/* line 645, ../scss/style.scss */
.sec5_wrapper h1 {
  margin: 30px 0 60px 0;
  text-align: center;
  color: #474747;
  font-family: ipaex;
}
/* line 651, ../scss/style.scss */
.sec5_wrapper ul {
  padding: 0;
  margin: 60px 0 0 0;
}
/* line 654, ../scss/style.scss */
.sec5_wrapper ul li {
  padding: 0;
  margin: 15px 0 0 0;
  display: inline-block;
}
/* line 658, ../scss/style.scss */
.sec5_wrapper ul li .edit_pass {
  display: block;
  float: left;
  font-size: 16px;
  width: 250px;
  margin: 18px 0 0 10px;
  letter-spacing: 2px;
  color: #474747;
  font-family: ipaex;
}
/* line 668, ../scss/style.scss */
.sec5_wrapper ul li span {
  display: block;
  float: left;
  font-size: 16px;
  width: 250px;
  margin: 18px 0 0 10px;
  letter-spacing: 2px;
  color: #474747;
  font-family: ipaex;
}
/* line 680, ../scss/style.scss */
.sec5_wrapper .form {
  width: 600px;
  height: 30px;
  border: 1px solid #474747;
  padding: 10px;
  background-color: #fdfdfd;
  border-radius: 2px;
  margin: 0 auto 0 auto;
  color: #bcbcb8;
  font-size: 25px;
}
/* line 691, ../scss/style.scss */
.sec5_wrapper .form:focus {
  border-color: #f3c363;
  outline: 0;
  color: #474747;
  font-size: 25px;
}
/* line 697, ../scss/style.scss */
.sec5_wrapper .button {
  text-align: center;
  padding-top: 30px;
}
/* line 701, ../scss/style.scss */
.sec5_wrapper .button_comp {
  width: 200px;
  padding: 15px 40px;
  text-align: center;
  background-color: #f3c363;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 18px;
  color: #3a204c;
  font-family: ipaex;
  border-radius: 2px;
  border: 0;
  transition: background-color 1s ease;
}
/* line 715, ../scss/style.scss */
.sec5_wrapper .button_comp:hover {
  background-color: #d9af59;
}
/* line 718, ../scss/style.scss */
.sec5_wrapper .quit_magazine {
  margin: 15px 5% 30px 0;
  text-align: right;
  color: #474747;
  font-family: ipaex;
}
/* line 726, ../scss/style.scss */
.sec5_wrapper .content_wrap {
  border-top: 1px solid #474747;
}
/* line 729, ../scss/style.scss */
.sec5_wrapper .delete_wrap {
  text-align: right;
  margin: 0 5% 0 0;
  letter-spacing: 3px;
}
/* line 733, ../scss/style.scss */
.sec5_wrapper .delete_wrap .delete {
  text-decoration: none;
  color: #bcbcb8;
  font-family: ipaex;
  font-size: 12px;
}

/* sec6 style */
/* line 745, ../scss/style.scss */
.sec6 {
  margin: 0;
  background: url(../images/IMG_9268.JPG) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 900px;
}
/* line 751, ../scss/style.scss */
.sec6 .register_bg {
  background-color: rgba(58, 32, 76, 0.5);
  height: 900px;
}
/* line 755, ../scss/style.scss */
.sec6 .register_wrapper {
  width: 70%;
  margin: 0 auto 0 auto;
}
/* line 758, ../scss/style.scss */
.sec6 .register_wrapper .page_title {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 60px 0 40px 0;
  font-size: 32px;
  color: #fcfbef;
  font-family: print;
}
/* line 767, ../scss/style.scss */
.sec6 .register_wrapper .page_title:after {
  position: absolute;
  bottom: 0;
  margin: 0 0 0 -25px;
  left: 50%;
  height: 3px;
  width: 50px;
  background: #fcfbef;
  content: '';
}
/* line 777, ../scss/style.scss */
.sec6 .register_wrapper .register_navi {
  margin: 60px 0 0 0;
  text-align: center;
  font-family: ipaex;
  font-size: 16px;
  color: #fcfbef;
}
/* line 784, ../scss/style.scss */
.sec6 .register_wrapper ul {
  padding: 0;
  margin: 30px 0 0 0;
}
/* line 787, ../scss/style.scss */
.sec6 .register_wrapper ul li {
  padding: 0;
  margin: 15px 0 0 0;
  display: inline-block;
}
/* line 791, ../scss/style.scss */
.sec6 .register_wrapper ul li span {
  display: block;
  float: left;
  font-size: 24px;
  font-family: print;
  width: 200px;
  margin: 15px 0 0 10px;
  letter-spacing: 2px;
  color: #fcfbef;
}
/* line 803, ../scss/style.scss */
.sec6 .register_wrapper .form {
  width: 600px;
  height: 30px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #bcbcb8;
  padding: 10px;
  margin: 0 auto 0 auto;
  color: #bcbcb8;
  font-size: 16px;
  font-family: flop;
}
/* line 815, ../scss/style.scss */
.sec6 .register_wrapper .form:focus {
  border-color: #f3c363;
  outline: 0;
  color: #fcfbef;
  font-size: 25px;
}
/* line 821, ../scss/style.scss */
.sec6 .register_wrapper .agreement {
  padding: 10px 0 10px 0;
  text-align: right;
  color: #fcfbef;
  letter-spacing: 3px;
  font-family: ipaex;
}
/* line 827, ../scss/style.scss */
.sec6 .register_wrapper .agreement .agreement_link {
  color: #f3c363;
}
/* line 831, ../scss/style.scss */
.sec6 .register_wrapper .button {
  text-align: center;
}
/* line 834, ../scss/style.scss */
.sec6 .register_wrapper .button_register {
  width: 200px;
  padding: 15px 40px;
  margin-top: 30px;
  text-align: center;
  background-color: #f3c363;
  text-decoration: none;
  font-size: 18px;
  color: #3a204c;
  font-family: print;
  border-radius: 2px;
  border: 0;
  transition: background-color 0.5s ease;
}
/* line 848, ../scss/style.scss */
.sec6 .register_wrapper .button_register:hover {
  background-color: #d9af59;
}
