/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
/* line 11, ../scss/style.scss */
@charset "UTF-8";
/*********************
色のインポート
*********************/
/*********************
フォントのインポート
*********************/
@font-face {
  font-family: logotype;
  src: url("07LogoTypeGothic-Condense.woff");
}
@font-face {
  font-family: print;
  src: url("PrintBold.woff");
}
/*********************
デバイスサイズが768px 
以下のときのスタイルシート
（スマホ用）
*********************/
@media only screen and (max-width: 768px) {
  /* line 1, ../scss/breakpoint/_768down.scss */
  body {
    background-color: #fbf7f1;
    margin: 0;
    padding: 0;
  }

  /* header */
  /* line 8, ../scss/breakpoint/_768down.scss */
  .header_wrapper {
    height: 60px;
    width: 100%;
    z-index: 15;
    background-color: rgba(58, 32, 76, 0.5);
  }

  /* line 14, ../scss/breakpoint/_768down.scss */
  .header {
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.25);
  }
  /* line 19, ../scss/breakpoint/_768down.scss */
  .header .logo {
    float: left;
    margin: 10px 0 0 30px;
  }
  /* line 22, ../scss/breakpoint/_768down.scss */
  .header .logo img {
    width: 40px;
    height: 40px;
  }
  /* line 27, ../scss/breakpoint/_768down.scss */
  .header .menu {
    float: right;
    padding: 5px 15px;
    border: solid 2px #fcfbef;
    border-radius: 3px;
    margin: 10px;
  }
  /* line 33, ../scss/breakpoint/_768down.scss */
  .header .menu a {
    font-family: 'print';
    font-size: 1em;
    text-decoration: none;
    color: #fcfbef;
  }
  /* line 38, ../scss/breakpoint/_768down.scss */
  .header .menu a span {
    font-size: 20px;
  }
  /* line 44, ../scss/breakpoint/_768down.scss */
  .header .nav {
    display: none;
    font-family: 'print';
    position: absolute;
    margin: 0 60px 0 0;
    padding: 0;
    top: 60px;
    width: 100%;
    z-index: 100;
    background-color: rgba(243, 195, 99, 0.95);
  }
  /* line 54, ../scss/breakpoint/_768down.scss */
  .header .nav li {
    width: 100%;
    margin: 0;
  }
  /* line 57, ../scss/breakpoint/_768down.scss */
  .header .nav li .link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fcfbef;
    font-size: 2em;
    padding: 30px 60px;
  }
  /* line 65, ../scss/breakpoint/_768down.scss */
  .header .nav li .button_login {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fcfbef;
    font-size: 2em;
    padding: 30px 60px;
    margin: none;
  }
  /* line 74, ../scss/breakpoint/_768down.scss */
  .header .nav li .hidden_list {
    position: absolute;
    margin: 0 60px 0 0;
    padding: 0;
    top: 276px;
    width: 100%;
    z-index: 100;
    background-color: rgba(58, 32, 76, 0.5);
  }
  /* line 82, ../scss/breakpoint/_768down.scss */
  .header .nav li .hidden_list li {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    background: rgba(26, 26, 26, 0.25);
    transition: background 0.3s ease;
  }
  /* line 89, ../scss/breakpoint/_768down.scss */
  .header .nav li .hidden_list li a {
    display: block;
    text-decoration: none;
    color: #fcfbef;
    font-size: 1em;
    padding: 10px 60px;
  }
  /* line 96, ../scss/breakpoint/_768down.scss */
  .header .nav li .hidden_list li a:hover {
    text-decoration: none;
    background: none;
  }
  /* line 104, ../scss/breakpoint/_768down.scss */
  .header .nav li:hover ul {
    text-align: center;
  }
  /* line 106, ../scss/breakpoint/_768down.scss */
  .header .nav li:hover ul li {
    visibility: visible;
    overflow: visible;
    height: 40px;
    z-index: 40;
  }
  /* line 111, ../scss/breakpoint/_768down.scss */
  .header .nav li:hover ul li .hidden_link {
    margin: 0;
  }

  /* header ends */
  /* home style */
  /* top style */
  /* line 125, ../scss/breakpoint/_768down.scss */
  .top {
    width: 100%;
    background-color: rgba(58, 32, 76, 0.5);
    background: url(IMG_0280.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 131, ../scss/breakpoint/_768down.scss */
  .top .top_image {
    background-color: rgba(58, 32, 76, 0.5);
    width: 100%;
  }
  /* line 135, ../scss/breakpoint/_768down.scss */
  .top .logo {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 60px 0 30px -50px;
    left: 50%;
  }
  /* line 142, ../scss/breakpoint/_768down.scss */
  .top .text1, .top .text2 {
    color: #fcfbef;
    font-family: 'logotype';
    font-size: 1em;
    text-align: center;
  }
  /* line 149, ../scss/breakpoint/_768down.scss */
  .top .start_wrap {
    padding: 105px 0 105px 0;
  }
  /* line 151, ../scss/breakpoint/_768down.scss */
  .top .start_wrap .button_start {
    text-align: center;
    margin: 0;
  }
  /* line 155, ../scss/breakpoint/_768down.scss */
  .top .start_wrap .start {
    text-align: center;
  }
  /* line 158, ../scss/breakpoint/_768down.scss */
  .top .start_wrap a {
    font-size: 2em;
    padding: 10px 25px;
    color: #fcfbef;
    font-family: flop;
    text-decoration: none;
    font-size: 14px;
    border: solid 2px #fcfbef;
  }
  /* line 167, ../scss/breakpoint/_768down.scss */
  .top .start_wrap a:hover {
    background: none;
  }

  /* sec1 style */
  /* line 174, ../scss/breakpoint/_768down.scss */
  .sec1 {
    margin: 0;
    background-color: #fbf7f1;
  }
  /* line 177, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 180, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #474747;
    font-family: 'print';
  }
  /* line 189, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 2px;
    width: 50px;
    background: #f3c363;
    content: '';
  }
  /* line 199, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper p {
    text-align: center;
    color: #bcbcb8;
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    margin: 0;
    padding-top: 30px;
  }
  /* line 207, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posted_at {
    font-family: 'print';
    font-size: 1em;
    margin-top: 15px;
    padding: 0;
  }
  /* line 213, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper h1 {
    text-align: center;
    color: #474747;
    font-family: 'logotype';
    font-size: 2em;
    margin: 0;
    margin-top: 60px;
  }
  /* line 221, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .field {
    text-align: center;
    margin: 10px 0;
  }
  /* line 225, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper textarea {
    width: 90%;
    height: 30px;
    padding: 10px;
    resize: none;
    background-color: #fbf7f1;
    border-radius: 2px;
    color: #bcbcb8;
    transition: height 1s ease;
    font-size: 1em;
  }
  /* line 237, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper textarea:focus {
    height: 200px;
    outline: 0;
    color: #474747;
    font-size: 16px;
  }
  /* line 243, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .button_post {
    margin-top: 15px;
    text-align: center;
  }
  /* line 247, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .post {
    padding: 15px 40px;
    margin: 0;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'print';
    color: #3a204c;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  /* line 260, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .post:hover {
    background-color: #d9af59;
  }
  /* line 263, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort {
    margin: 45px 0 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 269, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort li {
    display: inline-block;
    margin: 30px 0 15px 0;
  }
  /* line 272, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort li a {
    color: #474747;
    font-family: flop;
    text-decoration: none;
    font-size: 1em;
  }
  /* line 278, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .sort li a:hover {
    background: none;
  }
  /* line 283, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts {
    border-bottom: 1px solid #c9c9c4;
    margin: 20px 0 10px 10px;
    padding: 0;
  }
  /* line 287, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li {
    display: inline;
  }
  /* line 289, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li a {
    color: #474747;
    font-size: 16px;
    font-family: 'print';
    margin-right: 15px;
    text-decoration: none;
  }
  /* line 296, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li a:hover {
    background: none;
  }
  /* line 299, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .img_fav {
    margin: 0 0 0 0;
    width: 15px;
    height: 15px;
    outline: none;
  }
  /* line 305, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 311, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .like li {
    display: inline-block;
  }
  /* line 315, ../scss/breakpoint/_768down.scss */
  .sec1 .sec1_wrapper .posts li .content {
    color: #474747;
    font-family: 'Yu Gothic';
    font-size: 1em;
    text-align: left;
    margin: 20px 10px;
    padding: 0;
    letter-spacing: 2px;
    line-height: 170%;
  }

  /* sec2 style */
  /* line 331, ../scss/breakpoint/_768down.scss */
  .sec2 {
    background-color: #fbf7f1;
    margin: 0;
  }
  /* line 334, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 337, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #474747;
    font-family: print;
  }
  /* line 346, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 2px;
    width: 50px;
    background: #cd5b51;
    content: '';
  }
  /* line 356, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 360, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li {
    display: inline;
    color: #474747;
  }
  /* line 363, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .date {
    display: inline-block;
    margin: 0;
    font-family: 'print';
    padding: 45px 0 0 0;
    font-size: 1em;
  }
  /* line 370, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .theme {
    display: inline-block;
    font-size: 1.5em;
    color: #474747;
    font-family: logotype;
    text-decoration: none;
  }
  /* line 376, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .theme a {
    padding: 0;
    margin-top: 15px;
  }
  /* line 380, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .theme .theme:hover {
    background: none;
  }
  /* line 384, ../scss/breakpoint/_768down.scss */
  .sec2 .sec2_wrapper ul li .post_number {
    text-align: center;
    color: #bcbcb8;
    font-family: print;
    font-size: 1em;
    margin: 15px 0 30px 0;
  }

  /* sec3 style */
  /* line 399, ../scss/breakpoint/_768down.scss */
  .sec3 {
    background-color: #fbf7f1;
    margin: 0;
    position: relative;
  }
  /* line 403, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper:after {
    content: "";
    display: block;
    clear: both;
  }
  /* line 408, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 411, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #474747;
    font-family: 'print';
  }
  /* line 420, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #198047;
    content: '';
  }
  /* line 430, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  /* line 433, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 100%;
  }
  /* line 438, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper ul li span {
    display: block;
    float: left;
    font-size: 2em;
    font-family: 'print';
    width: 250px;
    margin: 15px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
  }
  /* line 450, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .form {
    width: 90%;
    height: 25px;
    background-color: #fbf7f1;
    border-radius: 2px;
    border: 1px solid #474747;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 1.3em;
  }
  /* line 461, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 1.3em;
  }
  /* line 467, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .auto_login {
    margin: 15px 5% 10px 0;
    text-align: right;
    color: #474747;
    font-family: flop;
  }
  /* line 475, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .forget {
    margin: 0 5% 0 0;
    text-align: right;
    font-size: 12px;
    color: #bcbcb8;
  }
  /* line 480, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .forget .forget_link {
    text-decoration: none;
    letter-spacing: 3px;
    color: #bcbcb8;
    font-family: flop;
  }
  /* line 487, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .button {
    text-align: center;
  }
  /* line 490, ../scss/breakpoint/_768down.scss */
  .sec3 .login_wrapper .button_login {
    padding: 10px 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 1.3em;
    color: #3a204c;
    font-family: 'print';
    border-radius: 2px;
    border: 0;
  }

  /* sec4 style */
  /* line 506, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 509, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .for_mobile {
    width: 90%;
    text-align: center;
    margin: 0;
  }
  /* line 514, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .manage {
    position: absolute;
    padding: 10px 20px;
    margin: 20px 0 90px -50px;
    left: 20%;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 12px;
    color: #3a204c;
    font-family: flop;
    border-radius: 2px;
  }
  /* line 526, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .username {
    text-align: center;
    margin: 50px 0 -90px 0;
    font-size: 1.7em;
    color: #474747;
    font-family: 'print';
    padding-top: 150px;
  }
  /* line 534, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .navi {
    text-align: center;
    margin: 110px 0 60px 0;
    font-size: 12px;
    color: #474747;
    font-family: flop;
  }
  /* line 541, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper table {
    position: absolute;
    width: 100px;
    left: 60%;
    margin: 10px;
  }
  /* line 546, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper table td {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 1.5em;
    color: #474747;
    font-family: 'print';
  }
  /* line 555, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper table tr {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 564, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts {
    padding: 0;
  }
  /* line 566, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #bcbcb8;
    border-top: 1px solid #bcbcb8;
    width: 100%;
  }
  /* line 572, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .date_like {
    text-align: center;
    margin-bottom: 15px;
  }
  /* line 576, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .date {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 18px;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 583, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title {
    text-align: center;
    font-size: 2em;
    color: #474747;
    font-family: logotype;
  }
  /* line 588, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title a {
    text-decoration: none;
  }
  /* line 591, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title a:hover {
    background: none;
  }
  /* line 594, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .title a:visited {
    color: #474747;
  }
  /* line 598, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 604, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .like li {
    display: inline-block;
  }
  /* line 608, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .content {
    color: #474747;
    font-family: ipaex;
    font-size: 16px;
    text-align: left;
    margin: 20px 10px;
    letter-spacing: 2px;
    line-height: 150%;
  }
  /* line 617, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .img_fav {
    margin: 0;
    width: 15px;
    height: 15px;
    padding: 3px 0 0 0;
    outline: none;
  }
  /* line 624, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .edit {
    font-size: 12px;
    text-align: right;
  }
  /* line 627, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .edit a {
    text-decoration: none;
    color: #bcbcb8;
    font-family: flop;
    letter-spacing: 3px;
  }
  /* line 633, ../scss/breakpoint/_768down.scss */
  .sec4_wrapper .posts .each_post .edit a:hover {
    color: #cd5b51;
  }

  /* sec5 */
  /* line 643, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 646, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi {
    text-align: center;
    margin: 0 0 15px 0;
  }
  /* line 649, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi li {
    letter-spacing: 3px;
    margin: 0 3px;
    cursor: pointer;
    width: 100%;
  }
  /* line 654, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi li .logout {
    color: #474747;
    text-decoration: none;
  }
  /* line 658, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi li .logout:hover {
    background: none;
  }
  /* line 662, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .head_navi .selected {
    color: #cd5b51;
    cursor: default;
  }
  /* line 667, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper h1 {
    margin: 40px 0 40px 0;
    text-align: center;
    color: #474747;
    font-family: ipaex;
  }
  /* line 673, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul {
    padding: 0;
    margin: 60px 0 0 0;
  }
  /* line 676, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 100%;
  }
  /* line 681, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul li .edit_pass {
    display: block;
    float: left;
    font-size: 16px;
    width: 250px;
    margin: 18px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 691, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper ul li span {
    display: block;
    float: left;
    font-size: 1.2em;
    margin: 18px 0 10px 0;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 702, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .form {
    width: 90%;
    height: 25px;
    border: 1px solid #474747;
    padding: 10px;
    background-color: #fbf7f1;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 1.3em;
  }
  /* line 713, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 1.3em;
  }
  /* line 719, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .button {
    text-align: center;
    padding-top: 30px;
  }
  /* line 723, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .button_comp {
    padding: 15px 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1.3em;
    color: #3a204c;
    font-family: ipaex;
    border-radius: 2px;
    border: 0;
    transition: background-color 1s ease;
  }
  /* line 736, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .button_comp:hover {
    background-color: #d9af59;
  }
  /* line 739, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .quit_magazine {
    margin: 15px 5% 30px 0;
    text-align: right;
    color: #474747;
    font-family: ipaex;
  }
  /* line 747, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .content_wrap {
    border-top: 1px solid #474747;
  }
  /* line 750, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .delete_wrap {
    text-align: right;
    margin: 30px 5% 0 0;
    letter-spacing: 3px;
  }
  /* line 754, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .delete_wrap .delete {
    text-decoration: none;
    color: #bcbcb8;
    font-family: ipaex;
    font-size: 1em;
    margin-top: 5px;
  }
  /* line 761, ../scss/breakpoint/_768down.scss */
  .sec5_wrapper .delete_wrap .delete:hover {
    background: none;
  }

  /* sec6 style */
  /* line 770, ../scss/breakpoint/_768down.scss */
  .sec6 {
    margin: 0;
    background: url(../images/IMG_9268.JPG) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 900px;
  }
  /* line 776, ../scss/breakpoint/_768down.scss */
  .sec6 .register_bg {
    background-color: rgba(58, 32, 76, 0.5);
    height: 900px;
  }
  /* line 780, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper {
    width: 90%;
    margin: 0 auto 0 auto;
  }
  /* line 783, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 2em;
    color: #fcfbef;
    font-family: print;
  }
  /* line 792, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #fcfbef;
    content: '';
  }
  /* line 802, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .register_navi {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: ipaex;
    font-size: 1em;
    color: #fcfbef;
  }
  /* line 809, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  /* line 812, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 100%;
  }
  /* line 817, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper ul li span {
    display: block;
    float: left;
    font-size: 2em;
    font-family: print;
    margin: 15px 0 10px 0;
    letter-spacing: 2px;
    color: #fcfbef;
  }
  /* line 828, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .form {
    width: 90%;
    height: 25px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #bcbcb8;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 1.2em;
    font-family: flop;
  }
  /* line 840, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #fcfbef;
    font-size: 1.2em;
  }
  /* line 846, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .agreement {
    padding: 10px 0 10px 0;
    text-align: right;
    color: #fcfbef;
    letter-spacing: 3px;
    font-family: ipaex;
  }
  /* line 852, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .agreement .agreement_link {
    color: #f3c363;
  }
  /* line 856, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .button {
    text-align: center;
  }
  /* line 859, ../scss/breakpoint/_768down.scss */
  .sec6 .register_wrapper .button_register {
    padding: 10px 30px;
    margin-top: 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 1.3em;
    color: #3a204c;
    font-family: print;
    border-radius: 2px;
    border: 0;
    transition: background-color 0.5s ease;
  }
}
/*********************
デバイスサイズが768px 
以上のときのスタイルシート
（タブレット、PC用）
*********************/
@media only screen and (min-width: 768px) {
  /* line 1, ../scss/breakpoint/_base.scss */
  body {
    background-color: #fbf7f1;
    margin: 0;
    padding: 0;
  }

  /* header */
  /* line 8, ../scss/breakpoint/_base.scss */
  .header_wrapper {
    height: 60px;
    width: 100%;
    z-index: 15;
    background-color: rgba(58, 32, 76, 0.5);
  }

  /* line 14, ../scss/breakpoint/_base.scss */
  .header {
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.25);
  }
  /* line 19, ../scss/breakpoint/_base.scss */
  .header .logo {
    float: left;
    margin: 10px 0 0 30px;
  }
  /* line 22, ../scss/breakpoint/_base.scss */
  .header .logo img {
    width: 40px;
    height: 40px;
  }
  /* line 27, ../scss/breakpoint/_base.scss */
  .header .menu {
    display: none;
  }
  /* line 30, ../scss/breakpoint/_base.scss */
  .header ul {
    margin-top: 0;
    float: right;
    position: absolute;
    right: 0;
  }
  /* line 35, ../scss/breakpoint/_base.scss */
  .header ul li {
    float: left;
    display: inline-block;
    margin: 0;
  }
  /* line 39, ../scss/breakpoint/_base.scss */
  .header ul li .link {
    margin: 0;
    color: #fcfbef;
    font-size: 20px;
    font-family: 'print';
    display: block;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  /* line 49, ../scss/breakpoint/_base.scss */
  .header ul li .link:hover {
    background-color: #f3c363;
    color: #fcfbef;
  }
  /* line 53, ../scss/breakpoint/_base.scss */
  .header ul li .button_login {
    display: inline-block;
    padding: 20px 25px 22px 25px;
    margin: 0 60px 4px 0;
    color: #fcfbef;
    font-family: 'print';
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  /* line 64, ../scss/breakpoint/_base.scss */
  .header ul li .button_login:hover {
    color: #fcfbef;
    background-color: #f3c363;
  }
  /* line 68, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list {
    position: absolute;
    margin: 0 60px 0 0;
    top: 60px;
    width: 174px;
    z-index: 100;
    padding: 0;
    background-color: rgba(58, 32, 76, 0.5);
  }
  /* line 76, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li {
    visibility: hidden;
    overflow: hidden;
    width: 174px;
    height: 0;
    background: rgba(26, 26, 26, 0.25);
    transition: background 0.3s ease;
  }
  /* line 83, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li a {
    display: block;
    text-decoration: none;
    color: #fcfbef;
    font-size: 14px;
    padding: 10px 30px 10px 30px;
  }
  /* line 90, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li a:hover {
    text-decoration: none;
    background: none;
    color: #fcfbef;
  }
  /* line 96, ../scss/breakpoint/_base.scss */
  .header ul li .hidden_list li:hover {
    background: #f3c363;
    color: cream;
  }
  /* line 103, ../scss/breakpoint/_base.scss */
  .header ul li:hover ul {
    text-align: center;
  }
  /* line 105, ../scss/breakpoint/_base.scss */
  .header ul li:hover ul li {
    visibility: visible;
    overflow: visible;
    height: 40px;
    z-index: 40;
  }
  /* line 110, ../scss/breakpoint/_base.scss */
  .header ul li:hover ul li .hidden_link {
    margin: 0;
  }

  /* header ends */
  /* home style */
  /* top style */
  /* line 124, ../scss/breakpoint/_base.scss */
  .top {
    width: 100%;
    background-color: rgba(58, 32, 76, 0.5);
    background: url(IMG_0280.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 130, ../scss/breakpoint/_base.scss */
  .top .top_image {
    background-color: rgba(58, 32, 76, 0.5);
    width: 100%;
  }
  /* line 134, ../scss/breakpoint/_base.scss */
  .top .logo {
    width: 240px;
    height: 240px;
    position: relative;
    margin: 60px 0 30px -120px;
    left: 50%;
  }
  /* line 141, ../scss/breakpoint/_base.scss */
  .top .text1, .top .text2 {
    color: #fcfbef;
    font-family: 'logotype';
    font-size: 16px;
    text-align: center;
  }
  /* line 148, ../scss/breakpoint/_base.scss */
  .top .start_wrap {
    padding: 105px 0 105px 0;
  }
  /* line 150, ../scss/breakpoint/_base.scss */
  .top .start_wrap .button_start {
    text-align: center;
    margin: 0;
  }
  /* line 154, ../scss/breakpoint/_base.scss */
  .top .start_wrap .start {
    text-align: center;
  }
  /* line 157, ../scss/breakpoint/_base.scss */
  .top .start_wrap a {
    padding: 20px 50px;
    color: #fcfbef;
    font-family: flop;
    text-decoration: none;
    font-size: 14px;
    border: solid 2px #fcfbef;
    transition: background-color 1s ease;
  }
  /* line 166, ../scss/breakpoint/_base.scss */
  .top .start_wrap a:hover {
    color: #3a204c;
    background-color: #fcfbef;
  }
  /* line 170, ../scss/breakpoint/_base.scss */
  .top .start_wrap a:visited {
    text-decoration: none;
  }

  /* sec1 style */
  /* line 177, ../scss/breakpoint/_base.scss */
  .sec1 {
    margin: 0;
    background-color: #fbf7f1;
  }
  /* line 180, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper {
    width: 768px;
    margin: 0 auto 0 auto;
  }
  /* line 183, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #474747;
    font-family: 'print';
  }
  /* line 192, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #f3c363;
    content: '';
  }
  /* line 202, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper p {
    text-align: center;
    color: #bcbcb8;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin: 0;
    padding-top: 30px;
  }
  /* line 210, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posted_at {
    font-family: 'print';
    font-size: 24px;
    margin-top: 30px;
    padding: 0;
  }
  /* line 216, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper h1 {
    text-align: center;
    color: #3a204c;
    font-family: 'logotype';
    font-size: 47px;
    margin: 0;
    padding-top: 120px;
  }
  /* line 224, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper textarea {
    width: 600px;
    height: 20px;
    padding: 10px;
    resize: none;
    background-color: #fbf7f1;
    border-radius: 2px;
    position: relative;
    margin: 60px 0 0 -311px;
    left: 50%;
    color: #bcbcb8;
    transition: height 1s ease;
    font-size: 13px;
    border: 2px solid #c9c9c4;
  }
  /* line 240, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper textarea:focus {
    border-color: #474747;
    height: 200px;
    outline: 0;
    color: #474747;
    font-size: 13px;
  }
  /* line 247, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .button_post {
    margin-top: 15px;
    text-align: center;
  }
  /* line 251, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .post {
    padding: 15px 40px;
    margin: 0;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 18px;
    font-family: 'print';
    color: #3a204c;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  /* line 264, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .post:hover {
    background-color: #d9af59;
  }
  /* line 267, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort {
    margin: 45px 0 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 273, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort li {
    display: inline-block;
    margin: 30px 0 15px 0;
  }
  /* line 276, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort li a {
    color: #474747;
    font-family: flop;
    text-decoration: none;
  }
  /* line 281, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .sort li a:hover {
    background: none;
  }
  /* line 286, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts {
    border-bottom: 1px solid #c9c9c4;
    margin-top: 40px;
    padding-left: 20px;
  }
  /* line 290, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li {
    display: inline;
  }
  /* line 292, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li a {
    color: #474747;
    font-size: 20px;
    font-family: 'print';
    margin-right: 15px;
    text-decoration: none;
  }
  /* line 299, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li a:hover {
    background: none;
  }
  /* line 302, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .img_fav {
    margin: 0 0 0 0;
    width: 15px;
    height: 15px;
    outline: none;
  }
  /* line 308, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 314, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .like li {
    display: inline-block;
  }
  /* line 318, ../scss/breakpoint/_base.scss */
  .sec1 .sec1_wrapper .posts li .content {
    color: #474747;
    font-family: 'Yu Gothic';
    font-size: 15px;
    text-align: left;
    margin: 40px 40px 40px 0;
    padding: 0;
    letter-spacing: 2px;
    line-height: 180%;
  }

  /* sec2 style */
  /* line 334, ../scss/breakpoint/_base.scss */
  .sec2 {
    background-color: #fbf7f1;
    margin: 0;
  }
  /* line 337, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper {
    width: 768px;
    margin: 0 auto 0 auto;
  }
  /* line 340, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #474747;
    font-family: print;
  }
  /* line 349, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #cd5b51;
    content: '';
  }
  /* line 359, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #bcbcb8;
  }
  /* line 363, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li {
    display: inline;
    color: #474747;
  }
  /* line 366, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .date {
    display: inline-block;
    margin: 0;
    font-family: 'print';
    padding: 45px 0 0 0;
    font-size: 25px;
  }
  /* line 373, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .theme_box {
    margin: 15px 0 0 0;
  }
  /* line 376, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .theme {
    display: inline-block;
    padding: 0;
    font-size: 40px;
    color: #474747;
    font-family: logotype;
    text-decoration: none;
    transition: color 0.5s;
  }
  /* line 385, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .theme:hover {
    color: #f3c363;
    background: none;
  }
  /* line 389, ../scss/breakpoint/_base.scss */
  .sec2 .sec2_wrapper ul li .post_number {
    text-align: center;
    padding: 15px 0 30px 0;
    color: #bcbcb8;
    font-family: print;
  }

  /* sec3 style */
  /* line 403, ../scss/breakpoint/_base.scss */
  .sec3 {
    background-color: #fbf7f1;
    margin: 0;
    position: relative;
  }
  /* line 407, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper:after {
    content: "";
    display: block;
    clear: both;
  }
  /* line 412, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper {
    width: 768px;
    margin: 0 auto 0 auto;
  }
  /* line 415, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #474747;
    font-family: 'print';
  }
  /* line 424, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #198047;
    content: '';
  }
  /* line 434, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper ul {
    padding: 0;
    margin: 60px 0 0 0;
  }
  /* line 437, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
  /* line 441, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper ul li span {
    display: block;
    float: left;
    font-size: 24px;
    font-family: 'print';
    width: 250px;
    margin: 15px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
  }
  /* line 453, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .form {
    width: 450px;
    height: 30px;
    background-color: #fbf7f1;
    border-radius: 2px;
    border: 1px solid #474747;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 30px;
  }
  /* line 464, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 25px;
  }
  /* line 470, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .auto_login {
    margin: 15px 5% 10px 0;
    text-align: right;
    color: #474747;
    font-family: flop;
  }
  /* line 478, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .forget {
    margin: 0 5% 0 0;
    text-align: right;
    font-size: 12px;
    color: #bcbcb8;
  }
  /* line 483, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .forget .forget_link {
    text-decoration: none;
    letter-spacing: 3px;
    color: #bcbcb8;
    font-family: flop;
  }
  /* line 490, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .button {
    text-align: center;
  }
  /* line 493, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .button_login {
    width: 200px;
    padding: 15px 40px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 18px;
    color: #3a204c;
    font-family: 'print';
    border-radius: 2px;
    border: 0;
    transition: background-color 0.5s ease;
  }
  /* line 506, ../scss/breakpoint/_base.scss */
  .sec3 .login_wrapper .button_login:hover {
    background-color: #d9af59;
  }

  /* sec4 style */
  /* line 514, ../scss/breakpoint/_base.scss */
  .sec4_wrapper {
    width: 768px;
    margin: 0 auto 0 auto;
  }
  /* line 517, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .manage {
    width: 100px;
    position: absolute;
    padding: 10px 30px;
    margin: 20px 0 90px -50px;
    left: 25%;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 12px;
    color: #3a204c;
    font-family: flop;
    border-radius: 2px;
    border: 0;
    transition: background-color 1s ease;
  }
  /* line 533, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .manage:hover {
    background-color: #d9af59;
  }
  /* line 536, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .username {
    text-align: center;
    margin: 90px 0 -90px 0;
    font-size: 24px;
    color: #474747;
    font-family: 'print';
  }
  /* line 543, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .navi {
    text-align: center;
    margin: 125px 0 90px 0;
    font-size: 12px;
    color: #474747;
    font-family: flop;
  }
  /* line 550, ../scss/breakpoint/_base.scss */
  .sec4_wrapper table {
    position: absolute;
    width: 150px;
    margin: 20px 0 0 0;
    left: 68%;
  }
  /* line 555, ../scss/breakpoint/_base.scss */
  .sec4_wrapper table td {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    color: #474747;
    font-family: 'print';
  }
  /* line 564, ../scss/breakpoint/_base.scss */
  .sec4_wrapper table tr {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 573, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts {
    padding: 0;
  }
  /* line 575, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #bcbcb8;
    border-top: 1px solid #bcbcb8;
    width: 100%;
  }
  /* line 581, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .date_like {
    text-align: center;
    margin-bottom: 30px;
  }
  /* line 585, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .date {
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 18px;
    color: #bcbcb8;
    font-family: 'print';
  }
  /* line 592, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title {
    text-align: center;
    font-size: 24px;
    color: #474747;
    font-family: logotype;
  }
  /* line 597, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title a {
    text-decoration: none;
  }
  /* line 600, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title a:hover {
    background: none;
    color: #474747;
  }
  /* line 604, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .title a:visited {
    color: #474747;
  }
  /* line 608, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .like {
    color: #474747;
    font-family: 'print';
    font-size: 20px;
    display: inline;
    padding: 0;
  }
  /* line 614, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .like li {
    display: inline-block;
  }
  /* line 618, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .content_wrap {
    margin: 0 auto;
    width: 80%;
  }
  /* line 622, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .content {
    color: #474747;
    font-family: ipaex;
    font-size: 16px;
    margin: 20px 0 40px 0;
    letter-spacing: 2px;
    line-height: 150%;
  }
  /* line 630, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .img_fav {
    margin: 0;
    width: 15px;
    height: 15px;
    padding: 1px 0 0 0;
    outline: none;
  }
  /* line 637, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .edit {
    font-size: 12px;
    text-align: right;
  }
  /* line 640, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .edit a {
    text-decoration: none;
    color: #bcbcb8;
    font-family: flop;
    letter-spacing: 3px;
  }
  /* line 646, ../scss/breakpoint/_base.scss */
  .sec4_wrapper .posts .each_post .edit a:hover {
    color: #cd5b51;
  }

  /* sec5 */
  /* line 656, ../scss/breakpoint/_base.scss */
  .sec5_wrapper {
    width: 768px;
    margin: 0 auto 0 auto;
  }
  /* line 659, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi {
    text-align: center;
    margin: 0 0 15px 0;
  }
  /* line 662, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi li {
    letter-spacing: 3px;
    margin: 0 3px;
    cursor: pointer;
  }
  /* line 666, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi li .logout {
    color: #474747;
    text-decoration: none;
  }
  /* line 670, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi li .logout:hover {
    background: none;
  }
  /* line 674, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .head_navi .selected {
    color: #cd5b51;
    cursor: default;
  }
  /* line 679, ../scss/breakpoint/_base.scss */
  .sec5_wrapper h1 {
    margin: 30px 0 60px 0;
    text-align: center;
    color: #474747;
    font-family: ipaex;
  }
  /* line 685, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul {
    padding: 0;
    margin: 60px 0 0 0;
  }
  /* line 688, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
  /* line 692, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul li .edit_pass {
    display: block;
    float: left;
    font-size: 16px;
    width: 250px;
    margin: 18px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 702, ../scss/breakpoint/_base.scss */
  .sec5_wrapper ul li span {
    display: block;
    float: left;
    font-size: 16px;
    width: 250px;
    margin: 18px 0 0 10px;
    letter-spacing: 2px;
    color: #474747;
    font-family: ipaex;
  }
  /* line 714, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .form {
    width: 450px;
    height: 30px;
    border: 1px solid #474747;
    padding: 10px;
    background-color: #fbf7f1;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 25px;
  }
  /* line 725, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #474747;
    font-size: 25px;
  }
  /* line 731, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .button {
    text-align: center;
    padding-top: 30px;
  }
  /* line 735, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .button_comp {
    width: 200px;
    padding: 15px 40px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 18px;
    color: #3a204c;
    font-family: ipaex;
    border-radius: 2px;
    border: 0;
    transition: background-color 1s ease;
  }
  /* line 749, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .button_comp:hover {
    background-color: #d9af59;
  }
  /* line 752, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .quit_magazine {
    margin: 15px 5% 30px 0;
    text-align: right;
    color: #474747;
    font-family: ipaex;
  }
  /* line 760, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .content_wrap {
    border-top: 1px solid #474747;
  }
  /* line 763, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .delete_wrap {
    text-align: right;
    margin: 0 5% 0 0;
    letter-spacing: 3px;
  }
  /* line 767, ../scss/breakpoint/_base.scss */
  .sec5_wrapper .delete_wrap .delete {
    text-decoration: none;
    color: #bcbcb8;
    font-family: ipaex;
    font-size: 12px;
  }

  /* sec6 style */
  /* line 779, ../scss/breakpoint/_base.scss */
  .sec6 {
    margin: 0;
    background: url(../images/IMG_9268.JPG) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 900px;
  }
  /* line 785, ../scss/breakpoint/_base.scss */
  .sec6 .register_bg {
    background-color: rgba(58, 32, 76, 0.5);
    height: 900px;
  }
  /* line 789, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper {
    width: 768px;
    margin: 0 auto 0 auto;
  }
  /* line 792, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .page_title {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 60px 0 40px 0;
    font-size: 32px;
    color: #fcfbef;
    font-family: print;
  }
  /* line 801, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .page_title:after {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 -25px;
    left: 50%;
    height: 3px;
    width: 50px;
    background: #fcfbef;
    content: '';
  }
  /* line 811, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .register_navi {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: ipaex;
    font-size: 16px;
    color: #fcfbef;
  }
  /* line 818, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  /* line 821, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper ul li {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
  }
  /* line 825, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper ul li span {
    display: block;
    float: left;
    font-size: 24px;
    font-family: print;
    width: 200px;
    margin: 15px 0 0 10px;
    letter-spacing: 2px;
    color: #fcfbef;
  }
  /* line 837, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .form {
    width: 450px;
    height: 30px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #bcbcb8;
    padding: 10px;
    margin: 0 auto 0 auto;
    color: #bcbcb8;
    font-size: 16px;
    font-family: flop;
  }
  /* line 849, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .form:focus {
    border-color: #f3c363;
    outline: 0;
    color: #fcfbef;
    font-size: 25px;
  }
  /* line 855, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .agreement {
    margin: 26px 83px 26px 0;
    text-align: right;
    color: #fcfbef;
    letter-spacing: 3px;
    font-family: ipaex;
  }
  /* line 861, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .agreement .agreement_link {
    color: #f3c363;
  }
  /* line 865, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .button {
    text-align: center;
  }
  /* line 868, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .button_register {
    width: 200px;
    padding: 15px 40px;
    margin-top: 30px;
    text-align: center;
    background-color: #f3c363;
    text-decoration: none;
    font-size: 18px;
    color: #3a204c;
    font-family: print;
    border-radius: 2px;
    border: 0;
    transition: background-color 0.5s ease;
  }
  /* line 882, ../scss/breakpoint/_base.scss */
  .sec6 .register_wrapper .button_register:hover {
    background-color: #d9af59;
  }
}
